$heading-background-color1: rgb(234, 220, 166);
$heading-background-color2: rgb(226, 194, 117);
$heading-primary-color: #253b6e;


$footer-background-color: #1f5f8b;
$footer-background-image: linear-gradient( to right, rgba(#ff9900, .6),
rgba(#ff9900, .9));

//
$border-color-1: .65rem solid #1891ac;
$border-color-2: .65rem solid #1f5f8b;
$border-color-3: .65rem solid #30e3ca;
$border-color-4: .65rem solid #ffb961;

// heading background
 $background-image2: linear-gradient( to right, rgba(#ff9900, .3),
                                  rgba(#ff9900, .3)), 
                                  url("../img/clouds-4589586_1920.jpg");

$background-image: url("../img/clouds-4589586_1920.jpg");