.fig {
    border: thick white solid;
    border-radius: .6rem;
    display: flex;
    flex-flow: column;

    max-width: 50rem;
    margin: auto;
    overflow: hidden;
    
    @media only screen and (max-width: 1700px) {
        max-width: 45rem;
    }
    
    @media only screen and (max-width: 1200px) {
        max-width: 40rem;
    }
    
    @media only screen and (max-width: 1000px) {
        max-width: 37rem;
    }

    @media only screen and (max-width: 750px) {
        max-width: 33rem;
    }

    @media only screen and (max-width: 500px) {
        max-width: 30rem;
    }

    @media only screen and (max-width: 400px) {
        max-width: 26rem;
    }
    
    &__img {
        max-width: inherit;
    }

    &__caption {
        background-color: rgba(34,34,34,0.6) ;
        color: #fff;
        font: italic smaller sans-serif;
        padding: 3px;
        text-align: center;
    }
}