.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.header {
    flex: 0 0 100%;
    margin-right: auto;
    height: 35rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-image: $background-image;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;

    &__link {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 800;

        color: $heading-primary-color;
    
        position: absolute;
        top: .7rem;
        right: .7rem;
    }

    @media only screen and (max-width: 1250px) {
        background-image: $background-image-2;
    }

    @media only screen and (max-width: 650px) {
        background-image: $background-image-3;
    }

    @media only screen and (max-width: 500px) {
        height: 30rem;
    }
}

.profile_photo{
    position: absolute;
    z-index: 100;
    top: 20rem;

    @media only screen and (max-width: 1200px) {
        top: 22rem;
    }

    @media only screen and (max-width: 1000px) {
        top: 24rem;
    }

    @media only screen and (max-width: 750px) {
        top: 27rem;
    }

    @media only screen and (max-width: 500px) {
        top: 22rem;
    }

    @media only screen and (max-width: 400px) {
        top: 24rem;
    }
}

main {
    flex: 0 0 100%;
    background-color: #f4f4f4;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.content {
    flex: 0 0 100%;
    margin-top: 16rem;
    padding: 0 25rem 0 25rem;
    text-align: left;

    &__link {
        text-decoration: none;
        color: #1891ac;
    }

    @media only screen and (max-width: 1700px) {
        padding: 0 21rem 0 21rem;
    }

    @media only screen and (max-width: 1200px) {
        padding: 0 15rem 0 15rem;
    }
    
    @media only screen and (max-width: 1000px) {
        padding: 0 15rem 0 15rem;
    }
    
    @media only screen and (max-width: 900px) {
        padding: 0 10rem 0 10rem;
    }

    @media only screen and (max-width: 750px) {
        padding: 0 7rem 0 7rem;
    }

    @media only screen and (max-width: 600px) {
        padding: 0 4rem 0 4rem;
    }
    

    &__container {
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        border-radius: .3rem;
        padding: 1.5rem 3rem 3rem 3rem;
        margin-bottom: 6rem;
    }
}

.footer {
    padding: 2rem;
    flex: 0 0 100%;
    background-image: $footer-background-image;

    &__content {
        flex: 0 0 100%;
        margin: 2rem 0 1rem 0;
    }

    &__paragraph {
        font-size: 1.8rem;
        text-align: center;

        @media only screen and (max-width: 700px) {
            font-size: 1.5rem;
        }
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        margin-right: 1rem;
        fill: $heading-primary-color;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    color: $heading-primary-color;

    &__link {
        text-decoration: none;
        font-size: 1.4rem;
        color: $heading-primary-color;
    }

    &__box {
        margin: 2rem 3rem 2rem 3rem;
        flex: 0 0 20%;

        padding: 1.5rem;
        border-radius: .3rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__icon-container {
            display: inline-block;
        }

        &__link-container {
            display: inline-block;
        }

    }

}